{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 class="mb-1">WYKOJ v{{ version }}</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#about" class="nav-link active" data-bs-toggle="tab">About</a>
            </li>
            <li class="nav-item">
                <a href="#changelog" class="nav-link" data-bs-toggle="tab">Changelog</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col mt-2">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="about">
                <p>WYKOJ is currently under development.</p>
                <p class="mb-1">Source code:</p>
                <ul>
                    <li>
                        Website: <a href="https://github.com/wykstemteam/wykoj">wykoj/wykoj</a>
                    </li>
                    <li>
                        Judging Backend: <a href="https://github.com/wykstemteam/wykoj-judge">wykoj/wykoj-judge</a>
                    </li>
                </ul>
                <p>UI based on <a href="https://judge.hkoi.org">HKOI Online Judge</a>.</p>
            </div>
            <div class="tab-pane fade" id="changelog">
                <h3>v2.3.1</h3>
                <ul>
                    <li>Added contest ranking tiebreak: by last submission time.</li>
                </ul>
                <h3>v2.3.0</h3>
                <ul>
                    <li>Store and fetch test cases in GitHub repo.</li>
                    <li>Added extra settings.</li>
                    <li>Update countdown and rankings during contest.</li>
                </ul>
                <h3>v2.2.0</h3>
                <ul>
                    <li>New judge server, thanks <a href="/user/s17r28">Snuny</a>.</li>
                    <li>Add <a href="{{ url_for('chess.chess_page') }}">Chess</a> page.</li>
                    <li>Update all frontend dependencies.</li>
                    <li>Add attempts to task lists.</li>
                    <li>Add monthly and weekly leaderboards.</li>
                    <li>Implement the <a href="https://ogp.me">Open Graph protocol</a>.</li>
                    <li>Fix inability to send large test cases to judge server.</li>
                    <li>Add logos for programming languages.</li>
                    <li>Switch from SQLite3 to MySQL (AWS RDS).</li>
                    <li>Implement grader functionality.</li>
                    <li>Add subtask score table.</li>
                    <li>Add file upload for submission.</li>
                    <li>Add editorial page in contests.</li>
                    <li>Switch from MathJax to KaTeX to render math.</li>
                    <li>Add test case descriptions.</li>
                </ul>

                <h3>v2.1.2</h3>
                <ul>
                    <li>Revamp <a href="{{ url_for('main.buy_account') }}">Buy Account</a> page.</li>
                    <li>Scoring mode and associated contests are shown at the bottom of task page.</li>
                    <li>Changed viewing permissions for contest pages.</li>
                    <li>Added Python exception page.</li>
                    <li>Added a multitude of information to user page.</li>
                </ul>

                <h3>v2.1.1</h3>
                <ul>
                    <li>Correct display of contest results.</li>
                    <li>Implement rate-limiting. (30 HTTP requests/min, 1 submission/20s)</li>
                    <li>Add Changelog.</li>
                </ul>

                <h3>v2.1.0</h3>
                <ul>
                    <li>Migrated from Flask to Quart (synchronous to asynchronous).</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
