{% from "macros.html" import linked_user_with_pfp, solves_leaderboard %}

{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h2 class="border-bottom pb-1">Leaderboard</h2>
    </div>
</div>
<div class="row mt-2">
    <div class="col-xxl-4">
        <h3 class="d-none d-xxl-block">All Time</h3>
        {{ solves_leaderboard(all_time_leaderboard, "solves", current_user) }}
    </div>
    <div class="col-xxl-4 d-none d-xxl-block">
        <h3>Monthly</h3>
        {{ solves_leaderboard(monthly_leaderboard, "monthly_solves", current_user) }}
    </div>
    <div class="col-xxl-4 d-none d-xxl-block">
        <h3>Weekly</h3>
        {{ solves_leaderboard(weekly_leaderboard, "weekly_solves", current_user) }}
    </div>
</div>
{% endblock %}
