{% macro pfp_sm(user, classes) %}
    <img src="{{ url_for('static', filename='profile_pics/' + user.img_40) }}"
         class="{{ classes }}" width="20px" height="20px">
{% endmacro %}

{% macro pfp_lg(user, classes) %}
    <img src="{{ url_for('static', filename='profile_pics/' + user.img_160) }}"
         class="{{ classes }}" width="120px" height="120px">
{% endmacro %}

{% macro linked_user_with_pfp(user, pfp_classes) %}
    {{ pfp_sm(user, pfp_classes) }}
    <a href="{{ url_for('main.user_page', username=user.username) }}">
        {{ user.username }} - {{ user.name }}
    </a>
{% endmacro %}

{% macro linked_task(task) %}
    <a href="{{ url_for('main.task_page', task_id=task.task_id) }}">
        {{ task.task_id }} - {{ task.title }}
    </a>
{% endmacro %}

{% macro linked_submission_time(submission) %}
    <a href="{{ url_for('main.submission_page', submission_id=submission.id) }}">
        {{ submission.time | datetime }}
    </a>
{% endmacro %}

{% macro pagination_bar(endpoint, pagination, top) %}
    {% if top %}
        <ul class="pagination pagination-sm">
    {% else %}
        <ul class="pagination pagination-sm mt-3 mb-0">
    {% endif %}
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page == pagination.page %}
                        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {% else %}
                        <li class="page-item">
                            <a href="{{ url_for(endpoint, page=page, **kwargs) }}" class="page-link">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endmacro %}

{% macro tasks_table(tasks, solved_tasks) %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover text-nowrap">
            <thead>
                <tr>
                    <th class="text-center px-2" width="6%">Task ID</th>
                    <th class="px-2">Name</th>
                    <th class="text-center px-2" width="7%">Attempts</th>
                    <th class="text-center px-2" width="6%">Solves</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    {% if task in solved_tasks %}
                        <tr class="table-success">
                            <td class="text-center green-bar px-2">{{ task.task_id }}</td>
                    {% else %}
                        <tr>
                            <td class="text-center px-2">{{ task.task_id }}</td>
                    {% endif %}
                            <td class="px-2">
                                <a href="{{ url_for('main.task_page', task_id=task.task_id) }}">
                                    {{ task.title }}
                                </a>
                                {% if not task.is_public %}
                                    <i class="ms-1 fas fa-sm fa-lock fa-primary"></i>
                                {% endif %}
                            </td>
                            <td class="text-center px-2">{{ task.attempts }}</td>
                            <td class="text-center px-2">{{ task.solves }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro submissions_table(submissions, current_user) %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover text-nowrap">
            <thead>
                <tr>
                    <th class="text-center px-2" width="15%">Time</th>
                    <th class="px-2" width="25%">User</th>
                    <th class="px-2" width="25%">Task</th>
                    <th class="text-center px-2" width="7%">Language</th>
                    <th class="text-center px-2" width="16%">Verdict</th>
                    <th class="text-center px-2" width="9%">Time Used</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    {% if current_user and submission.author.id == current_user.id %}
                        <tr class="table-warning">
                            <td class="text-center yellow-bar px-2">
                    {% else %}
                        <tr>
                            <td class="text-center px-2">
                    {% endif %}
                                {{ linked_submission_time(submission) }}
                            </td>
                            <td class="px-2">
                                {{ linked_user_with_pfp(submission.author, "me-1") }}
                            </td>
                            <td class="px-2">
                                {{ linked_task(submission.task) }}
                                {% if submission.contest %}
                                    @
                                    <a href="{{ url_for('main.contest_page', contest_id=submission.contest.id) }}">
                                        {{ submission.contest.title }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="px-2">
                                {{ submission.language | language_logo | safe }}
                                {{ submission.language }}
                            </td>
                            <td class="text-center px-2">
                                {% if submission.verdict == "ac" %} {# Accepted #}
                                    <span class="accepted">Accepted</span>
                                {% elif submission.verdict == "ps" %} {# Partial Score #}
                                    Partial Score ({{ submission.score | f3dp }})
                                {% elif submission.verdict in ("ce", "wa", "re", "tle", "mle") %}
                                    <span class="bad-verdict">{{ submission.verdict | submission_verdict }}</span>
                                {% else %}
                                    {{ submission.verdict | submission_verdict }}
                                {% endif %}
                            </td>
                            <td class="text-center px-2">
                                {% if submission.time_used %}
                                    {{ submission.time_used | f3dp }} s
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro solves_leaderboard(ranked_users, solves_attr, current_user) %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover text-nowrap">
            <thead>
                <tr>
                    <th class="text-center px-2" width="6%">Rank</th>
                    <th class="px-2">User</th>
                    <th class="text-center px-2" width="6%">Solves</th>
                </tr>
            </thead>
            <tbody>
                {% for i, user in ranked_users %}
                    {% if user.id == current_user.id %}
                        <tr class="table-success">
                            <td class="text-center green-bar px-2">{{ i }}</td>
                    {% else %}
                        <tr>
                            <td class="text-center px-2">{{ i }}</td>
                    {% endif %}
                            <td class="px-2">
                                {{ linked_user_with_pfp(user, "me-1") }}
                            </td>
                            <td class="text-center px-2">{{ user[solves_attr] }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
