{% extends "admin/layout.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h2 class="border-bottom pb-1">{{ title }}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-3">
                <div class="form-group form-short">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group form-short">
                    {{ form.english_name.label(class="form-control-label") }}

                    {% if form.english_name.errors %}
                        {{ form.english_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.english_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.english_name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group form-short">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group form-short">
                    {{ form.confirm_password.label(class="form-control-label") }}

                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.is_admin(class="form-check-input") }}
                    {{ form.is_admin.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group mb-0">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
