{% extends "admin/layout.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h2 class="border-bottom pb-1">
            {{ title }}
            {% if task %}
                <a class="icon-button ms-1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <i class="fas fa-sm fa-trash-alt"></i>
                </a>
                <a class="icon-button ms-1" data-bs-toggle="modal" data-bs-target="#rejudgeModal">
                    <i class="fas fa-sm fa-undo-alt"></i>
                </a>
                <a class="ms-1" href="{{ url_for('main.task.task_page', task_id=task.task_id) }}">
                    <i class="fas fa-sm fa-eye fa-black"></i>
                </a>
            {% endif %}
        </h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-2">
                <div class="form-group form-short">
                    {{ form.task_id.label(class="form-control-label") }}

                    {% if form.task_id.errors %}
                        {{ form.task_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.task_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.task_id(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group form-short">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.is_public(class="form-check-input") }}
                    {{ form.is_public.label(class="form-check-label") }}
                </div>
                <small class="text-muted">
                    When checked, users can view the task, its submissions and stats and submit.
                </small>
                <div class="form-group form-short mt-2">
                    {{ form.authors.label(class="form-control-label") }}

                    {% if form.authors.errors %}
                        {{ form.authors(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.authors.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.authors(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}

                    {% if form.content.errors %}
                        {{ form.content(class="is-invalid") | safe }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content() | safe }}
                    {% endif %}
                </div>
                <div class="card border-primary mb-3">
                    <div class="card-header">Preview</div>
                    <div class="card-body">
                        <div class="content-preview tex2jax_process"></div>
                    </div>
                </div>
                <div class="form-group form-short">
                    {{ form.time_limit.label(class="form-control-label") }}
                    <small class="text-muted">Range: 0.01-10 s, 2 d.p.</small>

                    {% if form.time_limit.errors %}
                        {{ form.time_limit(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.time_limit.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.time_limit(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group form-short">
                    {{ form.memory_limit.label(class="form-control-label") }}
                    <small class="text-muted">Range: 1-64 MB</small>

                    {% if form.memory_limit.errors %}
                        {{ form.memory_limit(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.memory_limit.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.memory_limit(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-0">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </form>
        {% if task %}
            {# Modals #}
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Task {{ task.task_id }}?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body py-0">
                            Submissions to this task are also deleted. This action is irreversible.
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{{ url_for('admin.delete_task', task_id=task.task_id) }}" method="POST">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="rejudgeModal" tabindex="-1" role="dialog"
                 aria-placeholder="rejudgeModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="rejudgeModalLabel">Rejudge Task Submissions?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{{ url_for('admin.rejudge_task_submissions', task_id=task.task_id) }}"
                                  method="POST">
                                <input type="submit" class="btn btn-primary" value="Rejudge">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
