{% from "macros.html" import pagination_bar %}

{% extends "admin/layout.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2 class="border-bottom pb-1">Tasks</h2>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        {% if use_pagination %}
            {{ pagination_bar("admin.tasks", pagination, true) }}
        {% endif %}
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover text-nowrap mb-3">
                <thead>
                    <tr>
                        <th class="text-center px-2" width="6%">Task ID</th>
                        <th class="px-2">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td class="text-center px-2">{{ task.task_id }}</td>
                            <td class="px-2">
                                <a href="{{ url_for('admin.task_page', task_id=task.task_id) }}">{{ task.title | safe }}</a>
                                {% if not task.is_public %}
                                    <i class="ms-1 fas fa-sm fa-lock fa-primary"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if use_pagination %}
            {{ pagination_bar("admin.tasks", pagination, false) }}
        {% endif %}
        <a href="{{ url_for('admin.new_task') }}" class="btn btn-primary">New Task</a>
    </div>
</div>
{% endblock %}
