{% from "macros.html" import pagination_bar, submissions_table %}

{% extends "task/task_layout.html" %}

{% block task_content %}
<div class="row">
    <div class="col">
        {% if show_pagination %}
            {{ pagination_bar("main.task.submissions_page", pagination, true, task_id=task.task_id) }}
        {% endif %}
        {{ submissions_table(submissions, current_user) }}
        {% if show_pagination %}
            {{ pagination_bar("main.task.submissions_page", pagination, false, task_id=task.task_id) }}
        {% endif %}
    </div>
</div>
{% endblock %}
