{% from "macros.html" import pagination_bar, submissions_table %}

{% extends "user/user_layout.html" %}
{% block user_content %}
<div class="row">
    <div class="col">
        {% if show_pagination %}
            {{ pagination_bar("main.user_submissions", pagination, true, username=user.username) }}
        {% endif %}
        {{ submissions_table(submissions, None) }}
        {% if show_pagination %}
            {{ pagination_bar("main.user_submissions", pagination, false, username=user.username) }}
        {% endif %}
    </div>
</div>
{% endblock %}
