{% from "macros.html" import pfp_lg, tasks_table %}

{% extends "user/user_layout.html" %}

{% block user_content %}
<div class="row mt-2">
    <div class="col">
        {{ pfp_lg(user, "align-left me-3") }}
        <div class="profile-info">
            <h3>{{ user.english_name }}</h3>
            <div class="btn-group">
                {% if user.is_student %}
                    <a class="btn btn-sm btn-outline-dark disabled">Student</a>
                {% endif %}
                {% if user.username in ("s16f22", "s17r28") %}
                    <a class="btn btn-sm btn-outline-dark disabled">Developer</a>
                {% elif user.is_admin %}
                    <a class="btn btn-sm btn-outline-dark disabled">Admin</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if user.contest_participations %}
    <div class="row mt-3">
        <div class="col">
            <h3>Contests ({{ user.contest_participations | length }})</h3>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th class="px-2">Contest</th>
                            <th class="text-center px-2" width="10%">Date</th>
                            {# <th class="text-center px-2" width="6%">Rank</th> #}
                            <th class="text-center px-2" width="10%">Score</th>
                        </tr>
                    </thead>
                    <tbody>  {# Control viewing permissions #}
                        {% for i in range(user.contest_participations | length) %}
                            <tr>
                                <td class="px-2">
                                    <a href="{{ url_for('main.contest.contest_page',
                                                        contest_id=user.contest_participations[i].contest.id) }}">
                                        {{ user.contest_participations[i].contest.title }}
                                    </a>
                                </td>
                                <td class="text-center px-2">{{ contest_dates[i] }}</td>
                                {% if show[i] %}
                                    {# <td class="text-center px-2">
                                        #{{ contest_ranks[i] }}
                                        / {{ user.contest_participations[i].contest.get_contestants_no() }}
                                    </td> #}
                                    <td class="text-center px-2">
                                        <span class="
                                        {% if user.contest_participations[i].total_points
                                              == (user.contest_participations[i].contest.tasks | length) * 100 %}
                                            accepted
                                        {% endif %}
                                        ">
                                            {{ user.contest_participations[i].total_points | threedp }}
                                        </span>
                                        / {{ (user.contest_participations[i].contest.tasks | length) * 100 }}
                                    </td>
                                {% else %}
                                    {# <td class="text-center px-2">--</td> #}
                                    <td class="text-center px-2">--</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% if authored_tasks %}
    <div class="row mt-3">
        <div class="col">
            <h3>Authored Tasks ({{ authored_tasks | length }})</h3>
            {{ tasks_table(authored_tasks, solved_tasks) }}
        </div>
    </div>
{% endif %}
{% if task_count %}  {# Prevent ZeroDivisionError #}
    <div class="row mt-3">
        <div class="col">
            <h3>Solved Tasks ({{ user.solves }}/{{ task_count }})</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="width: {{ user.solves / task_count * 100 }}%;">
                    <b>{{ (user.solves / task_count * 100) | int }}%</b>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if submission_count %}
    <div class="row mt-3">
        <div class="col-lg-4 col-md-6">
            <h3>Submissions ({{ submission_count }})</h3>
            {# Doughnut chart here loaded in JavaScript #}
            <canvas></canvas>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/user.js') }}" type="module"></script>
{% endblock %}
